.cover__link {  
  color: white;
  text-decoration: none;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

@media screen and (max-width: 320px){
  .cover__link{
    width: 320px;
    height: 200px;
  }
}