@import url(__title/lead__title.css);
@import url(__subtitle/lead__subtitle.css);
@import url(__caption/lead__caption.css);
@import url(__picture/lead__picture.css);

.lead {
  max-width: 984px;
  margin: 0 auto;
  padding: 56px 0 92px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 420px) {
  .lead {
    padding-bottom: 64px;
  }
}
