.place__url-heading {
  padding: 0;
  margin-bottom: 12px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.66;
  letter-spacing: 0.2em;
  color: #aaa;
  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    display: none;
 }
}