.place__website {
  width: 484px;
  max-width: 484px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 1280px) {
  .place__website {
    width: 456px;
    max-width: 456px;
  }

}

@media screen and (max-width: 1024px) {
  .place__website {
    width: 352px;
    max-width: 352px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    display: none;
  }
}
