.intro__title {
  font-size: 54px;
  font-weight: 900;
  margin: 92px 0 40px;
  padding: 0;
  line-height: 1.1;
}

@media screen and (max-width: 420px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}